{% extends "base.html" %}{% block head_title %}About Us | {{ block.super }}{% endblock %}



{% block content %}

<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h1>About Us</h1>
<p align=justify>The Russell Group represents 24 leading UK universities which are committed to maintaining the very best research, an outstanding teaching and learning experience and unrivalled links with business and the public sector. 
        <br/><br> We operate on the behald of The Russell Group's External Relations and Communications Office, publishing a digital newsletter four times a month. The newsletter covers news around education, exchange, research and campus life and is aimed at students and alumni at partner universities within the Russell Group as well as the business community.
            </p>
            <br/>
            <br>
            
            <p style="font-size:-2" ><em>"Through our newsletter, we aspire to deliver the most relevant news and advice that enable our readers to both excel as students and seamlessly transition to their chosen career paths."</em><br/> Chief Editor at RGU Newsletter</p>


</div>

</div>


{% endblock %}