{% extends "base.html" %}



{% block content %}

<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h1>About Us</h1>
<p>The Russell Group represents 24 leading UK universities which are committed to maintaining the very best research, an outstanding teaching and learning experience and unrivalled links with business and the public sector.</p>
<br/>
<p>The Russell Group University (R.G.U) Newsletter is dedicated to supporting undergraduates, postgraduates and alumni from Russell Group Universities in navigating past the many obstacles found across their academic and professional journeys.</p>
<p>The University's External Relations and Communications Office publishes a digital newsletter four times a year. The newsletter covers news around education, exchange, research and campus life and is aimed at students, alumni, partner universities and the business community.
    Through our newsletter, we aspire to deliver relevant news and advice that enable our readers to both excel as students and seamlessly transition to their chosen career paths.</p>
</div>

</div>


{% endblock %}